<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">
	
		<!-- 사용자 정의 title -->
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>
	<th:block layout:fragment="customContents">
		<link href="/asset/css/review.css" rel="stylesheet"/>

		 	<form class="reviewForm mb-3" name="reviewForm" id="reviewForm" method="post">
			<fieldset>
				<span class="text-bold">별점을 선택해주세요</span>
				<input type="radio" name="reviewStar" value="5" id="rate1"><label
					for="rate1">★</label>
				<input type="radio" name="reviewStar" value="4" id="rate2"><label
					for="rate2">★</label>
				<input type="radio" name="reviewStar" value="3" id="rate3"><label
					for="rate3">★</label>
				<input type="radio" name="reviewStar" value="2" id="rate4"><label
					for="rate4">★</label>
				<input type="radio" name="reviewStar" value="1" id="rate5"><label
					for="rate5">★</label>
			</fieldset>
			<div class="form-group row">
			   	<div class="col-md-6 col-sm-6">
			  	<input multiple="multiple" type="file" name="filename[]" accept=".gif, .jpg, .png" required="required" />
			  	<span style="font-size:10px; color: gray;">※파일 확장자가 .gif / .jpg / .png 인 파일만 업로드 가능합니다.</span>
			  	</div>
			</div>
			
			<div>
				<textarea class="col-auto form-control" type="text" id="reviewContents"
						  placeholder="리뷰를 남겨주세요"></textarea>
			</div>
			<button type="button" class="btn btn-primary" id="btn-update">등록</button>
               <button type="button" class="btn btn-secondary" id="btn-cancel">취소</button>
		</form>	
	</th:block>
</html>




	