<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{userLayout/default}">
	<!-- 사용자 정의 title -->
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>
/*깃허브수정*/	
	<th:block layout:fragment="customCss">
		<style>
			.goodsImg{height: 100px;}
			.btn-success{background-color: #7fad39;}
			.checkout__select{width: 100%;}
			.row{margin-top: 12px;}
		</style>
	</th:block>
	
	<th:block layout:fragment="customJsScript">
		<script th:src="@{//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js}"></script>
	</th:block>
	
	<!-- 사용자 정의 Script-->
	<th:block layout:fragment="customScript">
		<script>
		$(document).ready(function(){
	    	  
			/* var 
			paymentTypeBank = $('.paymentTypeBank'),
			paymentTypeMobile = $('.paymentTypeMobile'),
			paymentTypeCard = $('.paymentTypeCard'),
			paymentValue = $('select[name="paymentOption"]').val();
			
			if(paymentValue == '휴대폰'){
				paymentTypeBank.css('display', 'none');
				paymentTypeMobile.css('display', 'block');
				paymentTypeCard.css('display', 'none');
			}else if(paymentValue == '무통장입금'){
				paymentTypeBank.css('display', 'block');
				paymentTypeMobile.css('display', 'none');
				paymentTypeCard.css('display', 'none');
			}else if(paymentValue == '신용카드'){
				paymentTypeBank.css('display', 'none');
				paymentTypeMobile.css('display', 'none');
				paymentTypeCard.css('display', 'block');
			}
			
			$('select[name="paymentOption"]').change(function(){
				
				var val = $(this).val();
				if(val == '휴대폰'){
					paymentTypeBank.css('display', 'none');
					paymentTypeMobile.css('display', 'block');
					paymentTypeCard.css('display', 'none');
				}else if(val == '무통장입금'){
					paymentTypeBank.css('display', 'block');
					paymentTypeMobile.css('display', 'none');
					paymentTypeCard.css('display', 'none');
				}else if(val == '신용카드'){
					paymentTypeBank.css('display', 'none');
					paymentTypeMobile.css('display', 'none');
					paymentTypeCard.css('display', 'block');
				}
			}) */
			
			$('#paymentType').change(function(){
				
				 var 
				 typeVal = $(this).val()
				,paymentTypeBank = $('.paymentTypeBank')
				,paymentTypePhone = $('.paymentTypePhone')
				,paymentTypeCard = $('.paymentTypeCard');
				 
				if(typeVal == '무통장입금'){
					paymentTypeBank.css('display', 'block');
					paymentTypePhone.css('display', 'none');
					paymentTypeCard.css('display', 'none');
				}else if(typeVal == '신용카드'){
					paymentTypeBank.css('display', 'none');
					paymentTypePhone.css('display', 'none');
					paymentTypeCard.css('display', 'block');
				}else if(typeVal == '휴대폰'){
					paymentTypeBank.css('display', 'none');
					paymentTypePhone.css('display', 'block');
					paymentTypeCard.css('display', 'none');
				}
				
			});
			
		});
		
		function searchPostNum() {
	        new daum.Postcode({
	            oncomplete: function(data) {
	            	
	            	var addr = '';
	            	var extraAddr = ''; // 참고항목 변수

	                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
	                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
	                    addr = data.roadAddress;
	                } else { // 사용자가 지번 주소를 선택했을 경우(J)
	                    addr = data.jibunAddress;
	                }
	                
	                document.getElementById('deliveryPostnumAddr').value = data.zonecode;
	                document.getElementById('deliveryAddr').value = addr;
	                // 커서를 상세주소 필드로 이동한다.
	                document.getElementById('deliveryDetailAddr').focus();
	                
	            }
	        }).open();
	    }
		
		</script>
	</th:block>	

	<th:block layout:fragment="customContents">
		 <!-- Breadcrumb Section Begin -->
    <div th:include="userFragments/breadcrumb :: breadcrumbFragment"></div>
    <!-- Breadcrumb Section End -->
	
	<!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div class="checkout__form">
	            <div class="row">
	                <div class="col-lg-12">
	                    <div class="shoping__cart__table">
	                        <table>
	                            <thead>
	                                <tr>
	                                    <th class="shoping__product">결제 상품명</th>
	                                    <th>가격</th>
	                                    <th>수량</th>
	                                    <th>합계</th>
	                                    <th> </th>
	                                </tr>
	                            </thead>
	                            <tbody>
	                                <tr>
	                                    <td class="shoping__cart__item">
	                                        <img class="goodsImg" th:src="@{/build/images/orange.jpg}">
	                                        <h5>[[${goods.goodsRefurbName}]]</h5>
	                                    </td>
	                                    <td class="shoping__cart__price">
	                                    	<p>[[${refurbResult}]]</p>
	                                    </td>
	                                    <td class="shoping__cart__price">
	                                          <p>[[${goodsCount}]]</p>
	                                    </td>
	                                    <td class="shoping__cart__total">
	                                        <p>[[${totalPriceResult}]]</p>
	                                    </td>
	                                    <td class="shoping__cart__item__close">
	                                        <span class="icon_close"></span>
	                                    </td>
	                                </tr>
	                            </tbody>
	                        </table>
	                    </div>
	                </div>
	            </div>
                <h4>주문/결제</h4>
                <form id="addBeforePaymentForm" th:action="@{/userPayment/userBeforePayment}" method="post">
                    <input type="hidden" name="goodsRefurbCode" th:value="${goods.goodsRefurbCode}">
                    <div class="row">
                        <div class="col-lg-8 col-md-6">
                            <div class="row">
                                <div class="col-lg-9">
                                    <div class="checkout__input">
                                        <p>수령인 이름</p>
                                        <input type="text" name="recipientName">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-9">
                                        <p>수령인 전화번호</p>
                                    <div class="checkout__input">
                                        <input type="text" name="recipientPhone">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                            		<div class="col-lg-12">
                            		<p>주소 <span>*</span></p>
                            		</div>
                            	<div class="col-lg-3">
                            		<div class="checkout__input">
                                        <input type="text" name="deliveryPostnumAddr" id="deliveryPostnumAddr" placeholder="우편번호" readonly="readonly">
                                    </div>
                            	</div>
                            	<div class="col-lg-6">
                            		<div class="checkout__input">
                                        <input type="text" name="deliveryAddr" id="deliveryAddr" placeholder="주소" readonly="readonly">
                                    </div>
                            	</div>
                            	<div class="col-lg-3">
                            		<button type="button" class="btn btn-success" id="postNum" onclick="searchPostNum()">우편번호</button>
                            	</div>
                            </div>
                            <div class="row">
	                            <div class="col-lg-9">
	                            	<div class="checkout__input">
	                                	<input type="text" name="deliveryDetailAddr" id="deliveryDetailAddr" placeholder="상세주소">
	                                </div>
	                            </div>
	                        </div>
                            <div class="row">
                            	<div class="col-lg-9">
                            		<p>결제방법 <span>*</span></p>
                            		<select class="nice-select form-control" name="paymentOptionType" id="paymentType">
                            			<option value=""> :: 선택 :: </option>
                            			<option class="paymentTypeOption" value="무통장입금">무통장입금</option>
                            			<option class="paymentTypeOption" value="휴대폰">휴대폰</option>
                            			<option class="paymentTypeOption" value="신용카드">신용카드</option>
                            		</select>
                            	</div>
                            </div>
                            <div class="row paymentTypePhone">
                            	<div class="col-lg-9">
                            		<p>휴대폰 통신사 <span>*</span></p>
                            		<select class="nice-select form-control" name="paymentCarrier">
                            			<option value=""> :: 통신사 선택 :: </option>
                            			<option value="SKT">SKT</option>
                            			<option value="KT">KT</option>
                            			<option value="UPLUS">UPLUS</option>
                            		</select>
                            	</div>
                            </div>
                            <div class="row paymentTypePhone">
                            	<div class="col-lg-12">
                            	</div>
                            	<div class="col-lg-9">
                            		<div class="checkout__input">
                            			<input type="text" name="paymentPhoneNum" placeholder="휴대폰번호">
                            		</div>
                            	</div>
                            </div>
                            <div class="row paymentTypeBank">
                            	<div class="col-lg-12">
                            		<p>무통장 결제 은행 <span>*</span></p>
                            	</div>
                            	<div class="col-lg-9">
                            		<div class="checkout__input">
                            			<input type="text" name="paymentAccountInfo" placeholder="결제 은행">
                            		</div>
                            	</div>
                            </div>
                            <div class="row paymentTypeBank">
                            	<div class="col-lg-12">
                            		<p>무통장 결제 계좌번호 <span>*</span></p>
                            	</div>
                            	<div class="col-lg-9">
                            		<div class="checkout__input">
                            			<input type="text" name="paymentAccountNumber" placeholder="계좌 번호">
                            		</div>
                            	</div>
                            </div>
                            <div class="row paymentTypeCard">
                            	<div class="col-lg-12">
                            		<p>신용카드 결제 은행 <span>*</span></p>
                            	</div>
                            	<div class="col-lg-9">
                            		<div class="checkout__input">
                            			<input type="text" name="paymentCardType" placeholder="결제 은행">
                            		</div>
                            	</div>
                            </div>
                            <div class="row paymentTypeCard">
                            	<div class="col-lg-12">
                            		<p>신용카드 번호 <span>*</span></p>
                            	</div>
                            	<div class="col-lg-9">
                            		<div class="checkout__input">
                            			<input type="number" name="paymentCardNum" placeholder="카드번호">
                            		</div>
                            	</div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="checkout__order">
                                <h4>결제 정보</h4>
                                <div class="checkout__order__products">상품 <span>Total</span></div>
                                <ul>
                                    <li>[[${goods.goodsRefurbName}]] <span>[[${refurbResult}]]</span></li>
                                </ul>
                                <div class="checkout__order__total">Total <span>[[${totalPriceResult}]]</span></div>
                                <a th:href="@{/userPayment/userAfterPayment(goodsRefurbCode=${goods.goodsRefurbCode})}" id="movePayment">
                                <button type="submit" class="site-btn" id="paymentButton">결제하기</button></a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- Checkout Section End -->
	
	</th:block>
</html>