<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{userLayout/default}">
	<!-- 사용자 정의 title -->
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>
	
	<th:block layout:fragment="customCss">
		<style>
			.goodsImg{height: 100px;}
			.btn-success{background-color: #7fad39;}
			.checkout__select{width: 100%;}
			.row{margin-top: 12px; margin-bottom: 30px;}
			.checkout__input input{color: #000;}
		</style>
	</th:block>
	
	<th:block layout:fragment="customJsScript">
		<script th:src="@{//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js}"></script>
	</th:block>
	
	<!-- 사용자 정의 Script-->
	<th:block layout:fragment="customScript">
	</th:block>	

	<th:block layout:fragment="customContents">
		 <!-- Breadcrumb Section Begin -->
    <div th:include="userFragments/breadcrumb :: breadcrumbFragment"></div>
    <!-- Breadcrumb Section End -->
	
	<!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div class="checkout__form">
            	<div class="row">
            		<div class="offset-lg-2 col-lg-8 text-center">
            			<h2>주문이 완료되었습니다.</h2>
            		</div>
            	</div>
            	<div class="row">
            		<div class="offset-lg-2 col-lg-8">
            			<div class="shoping__cart__table">
	                        <table>
	                            <thead>
	                                <tr>
	                                    <th class="shoping__product">결제 상품명</th>
	                                    <th>가격</th>
	                                    <th>수량</th>
	                                    <th>합계</th>
	                                </tr>
	                            </thead>
	                            <tbody>
	                                <tr>
	                                    <td class="shoping__cart__item">
	                                        <h5>[[${userAfterPayment.goods.goodsRefurbName}]]</h5>
	                                    </td>
	                                    <td class="shoping__cart__price">
	                                    	<p></p>
	                                    </td>
	                                    <td class="shoping__cart__price">
	                                    	<p></p>
	                                    </td>
	                                    <td class="shoping__cart__price">
	                                      	<p></p>
	                                    </td>
	                                    <td class="shoping__cart__total">
	                                        <p></p>
	                                    </td>
	                                    <td class="shoping__cart__item__close">
	                                        <span class="icon_close"></span>
	                                    </td>
	                                </tr>
	                            </tbody>
	                        </table>
	                    </div>
            		</div>
            	</div>
            	<div class="row">
				    <div class="offset-lg-2 col-lg-8">
				        <div class="checkout__input">
				            <p>입금계좌</p>
				            <input type="text" class="myAccountInfo" value="국민은행/949002-00-038982  (예금주:이재훈)" disabled="disabled">
				        </div>
				    </div>
				</div>
			</div>
		</div>
    </section>
	
	</th:block>
</html>