<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">
	<!-- 사용자 정의 title -->
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>
	<th:block layout:fragment="customContents">
		<link rel="stylesheet" type="text/css" th:href="@{/asset/css/list.css}">
		<link rel="stylesheet" type="text/css" href="asset/css/list.css">
		<div class="box-body row" style="padding-top: 20px;">
			<ul class="sub_depth">
				<li><a href="/" data-catecnt="2"> | Home | </a><span
					class="icon-arrow-right" data-cnt=""></span></li>
				<li><a href="/shop" class=" "> | 기부 상품 관리 | </a> <span
					class="icon-arrow-right"></span></li>
				<li><a href="/21" class="active "> | 기부 상품 목록 | </a></li>
			</ul>
		</div>
		<div class="container">
		    <form id="addDonorGoodsForm" th:action="@{donations/addDonorGoods}" method="post"  enctype="multipart/form-data">
		    	<div class="field item form-group">
                    <label class="col-form-label col-md-3 col-sm-3  label-align"><strong>기증자 아이디</strong><span class="required">*</span></label>
                    <div class="col-md-6 col-sm-6">
                        <input class="form-control" data-validate-length-range="6" data-validate-words="2" th:value="${session.SID}" name="memberId" required="required">
                    </div>
                </div>
                <div class="field item form-group">
                     <label class="col-form-label col-md-3 col-sm-3  label-align"><strong>기부 상품명</strong><span class="required">*</span></label>
                     <div class="col-md-6 col-sm-6">
                         <input class="form-control" name="goodsDonationName" data-validate-length-range="5,15" type="text">
                     </div>
                 </div>
		        <div class="field item form-group">
                     <label class="col-form-label col-md-3 col-sm-3  label-align"><strong>기부 상품갯수</strong><span class="required">*</span></label>
                     <div class="col-md-6 col-sm-6">
                         <input class="form-control" name="goodsDonationCount" data-validate-length-range="5,15" type="text">
                     </div>
                </div>
                <div class="field item form-group">
                     <label class="col-form-label col-md-3 col-sm-3  label-align"><strong>기부 내용</strong><span class="required"></span></label>
                     <div class="col-md-6 col-sm-6">
                          <textarea type="text" required="required" name="introduction"></textarea>
                     </div>
                </div>
		        <div class="form-group row">
				  <label class="col-form-label col-md-3 col-sm-3  label-align"><strong>기부 상품 사진</strong></label>>
				   	<div class="col-md-7 col-sm-6">
				  	<input multiple="multiple" type="file" name="filename[]" accept=".gif, .jpg, .png" required="required" />
				  	<span style="font-size:10px; color: gray;">※파일 확장자가 .gif / .jpg / .png 인 파일만 업로드 가능합니다.</span>
				  	</div>
				  	
				</div>
		        <div class="form-group row">
					<label for="heard" class="col-form-label col-md-3 col-sm-3  label-align"><strong>배송방법</strong></label>
					<select id="heard" class="form-control col-md-6 col-sm-6" required>
						<option value="k1">택배</option>
						<option value="k2">직접배송</option>
						<option value="k3">방문수령</option>
					</select>
				</div>
		       	<div class="addDonorGoodsBtn">
	            	<div class="form-group">
		                <div class="col-md-6 offset-md-5">
		                    <button type="button" class="btn btn-primary" id="btn-update">등록</button>
		                    <button type="button" class="btn btn-secondary" id="btn-cancel">취소</button>
		                </div>
		            </div>
		        </div>
		    </form>
			</div>
	</th:block>
</html>