<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
	
		<!-- 사용자 정의 Css -->
		<th:block layout:fragment="customCss">
		
		</th:block>

		<!-- 사용자 정의 Script -->
		<th:block layout:fragment="customScript">
			<!-- iCheck -->
    		<script src="../vendors/iCheck/icheck.min.js"></script>
			
   		</th:block>

		<!-- 사용자 정의 title -->
		<th:block layout:fragment="customTitle">
			<title th:text="${title}"></title>
		</th:block>
		
		<!-- 사용자 정의 contents -->
		<th:block layout:fragment="customContents">
		<div class="row">
 			<input type="hidden" id="SID" th:value="${session.SID}">
				<div class="col-lg-12 ">
					<div class="confirmDonorPlace confirmDonorPlace-outline-primary">
						<div class="confirmDonorPlace-header">
							<h4 class="m-b-0 text-white">기부 상품 사용처 등록 신청</h4>
						</div>
							<div class="confirmDonorPlace-body">
								<a th:href="@{/donations/confirmDonorPlace}" class="btn btn-pink a">사용처 등록 신청 내역</a>
								<div class="table-responsive m-t-40">
									<table id="confirmDonorPlace" class="table table-bordered table-striped">
										<thead>
											<tr>
										        <th>기부상품 사용처 신청 번호</th>
										        <th>아이디</th>
										        <th>사업자 번호</th>
										        <th>사회복지법인 허가증 유무</th>
										        <th>기부상품 사용처 명</th>
										        <th>기부상품 사용처 전화번호</th>
										        <th>승인 요청 일시</th>
										        <th data-orderable="false">승인</th>
										        <th>승인 상태</th>
										        <th>승인 완료 일시</th>
										    </tr>
										</thead>
										<tbody th:id="donorPlacePass">
											<tr th:each="l : ${donorPlacePass}">
												<td th:text="${l.donationApplyNum}"></td>
												<td th:text="${l.memberId}"></td> 
												<td th:text="${l.donationLicenseNum}"></td> 
												<td th:text="${l.donationLicenseState}"></td> 
												<td th:text="${l.donationRecipientName}"></td> 
												<td th:text="${l.donationRecipientPhone}"></td> 
												<td th:text="${l.donationApplyDate}"></td> 
												<td class="btn btn-pink btn-sm Confirm">승인</td>
												<td th:text="${l.donationApplyInfo}"></td> 
												<td th:text="${l.donationApplyCompletion}"></td> 
											</tr>
										</tbody>
										</table>
						            </div>
						            <div class="confirmDonorPlaceBtn">
					            		<div class="form-group">
						                	<div class="col-md-6 offset-md-5">
						                    <button type="button" class="btn btn-primary" id="btn-update">등록</button>
						                    <button type="button" class="btn btn-secondary" id="btn-cancel">취소</button>
				      						</div>
				      					</div>
				      				</div>	
	    			</div>
				</div>
			</div>	
		</div>
		</th:block>
</html>



