<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">
	<!-- 사용자 정의 title -->
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>
	<th:block layout:fragment="customContents">
		<form class="donorGoodsApplyForm" action="@{donations/donorGoodsApply}" method="post" novalidate="">
			<span class="section">등록화면</span>
			<div class="field item form-group bad">
			    <label class="col-form-label col-md-3 col-sm-3  label-align">기부 상품 사용처<span class="required">*</span></label>
			    <div class="col-md-6 col-sm-6">
			        <input class="form-control" data-validate-length-range="6" data-validate-words="2" name="name" required="required">
			    </div>
			<div class="alert">기부 상품 사용처 명을 입력해 주세요</div></div>
			<div class="field item form-group bad">
			    <label class="col-form-label col-md-3 col-sm-3  label-align">수령 신청 상품명<span class="required">*</span></label>
			    <div class="col-md-6 col-sm-6">
			        <input class="form-control" data-validate-length-range="6" data-validate-words="2" name="name" required="required">
			    </div>
			<div class="alert">수령 신청 상품명을 입력해 주세요</div></div>
	        <div class="field item form-group">
	            <label class="col-form-label col-md-3 col-sm-3  label-align">기부 상품 수령 신청자 연락처<span class="required">*</span></label>
	            <div class="col-md-6 col-sm-6">
	                <input class="form-control" type="tel" name="phone" required="required" data-validate-length-range="8,20"></div>
	        </div>
				
			<span style="position: absolute;right:15px;top:7px;" onclick="hideshow()">
				<i id="slash" class="fa fa-eye-slash"></i>
				<i id="eye" class="fa fa-eye"></i>
			</span>
                 
	        <div class="donorGoodsApplyBtn">
	            <div class="form-group">
	                <div class="col-md-6 offset-md-5">
	                    <button type="button" class="btn btn-primary" id="btn-update">등록</button>
	                    <button type="button" class="btn btn-secondary" id="btn-cancel">취소</button>
	                </div>
	            </div>
	        </div>
	    </form>
	</th:block>
</html>