<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
	
		<!-- 사용자 정의 Css -->
		<th:block layout:fragment="customCss">
		</th:block>

		<!-- 사용자 정의 Script -->
		<th:block layout:fragment="customScript">
			
		    <!-- iCheck -->
		    <script th:src="@{/vendors/iCheck/icheck.min.js}"></script>
			<script>
			$(function(){
				$('#removeBtn').click(function(){
					var confirmResult = confirm('정말로 사용처 등록 신청을 삭제하시겠습니까?');
					
					if(confirmResult){
						$('#removeForm').submit();
					}
				});
			});
		</script>
   		</th:block>

		<!-- 사용자 정의 title -->
		<th:block layout:fragment="customTitle">
			<title th:text="${title}"></title>
		</th:block>
		
		<!-- 사용자 정의 contents -->
		<th:block layout:fragment="customContents">
			<link rel="stylesheet" type="text/css" th:href="@{/asset/css/list.css}">
			<form id="removeDonorGoodsForm" th:action="@{/donations/removeDonorGoods}" method="post">
			<div class="field item form-group tum">
			<label class="col-form-label col-sm-3 col-12  label-align">ID<span class="required">*</span></label>
			<div class="col-sm-6 col-11">
					<input class="form-control" data-validate-length-range="6" data-validate-words="2" name="name" required="required" readonly/>
				</div>
			</div>
			<div class="field item form-group">
				<label class="col-form-label col-sm-3 col-12  label-align">PASS<span class="required">*</span></label>
				<div class="col-sm-6 col-11">
					<input class="form-control" type="password" id="password1" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*]).{8,}" required />
						
					<span style="position: absolute;right:15px;top:7px;" onclick="hideshow()" >
						<i id="slash" class="fa fa-eye-slash"></i>
						<i id="eye" class="fa fa-eye"></i>
					</span>
				</div>
			</div>
			<div th:if="${not #strings.isEmpty(result)}">
				<p th:text="${result}"></p>
			</div>
		</form>
			<div class="col-md-6 offset-md-3">
		        <button type="button" class="btn btn-danger">삭제</button>
		        <button type="button" class="btn btn-success">취소</button>
	        </div>
		</th:block>
</html>