<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
	
	<!-- 사용자 정의 title -->
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>
	
	<!-- 사용자 정의 Css -->
	<th:block layout:fragment="customCss">
		<!-- bootstrap-daterangepicker -->
		<link th:href="@{/vendors/bootstrap-daterangepicker/daterangepicker.css}" rel="stylesheet">
	</th:block>
	
	<!-- 사용자 정의 JsScript 파일-->
	<th:block layout:fragment="customJsScript">
		<!-- bootstrap-daterangepicker -->
		<script th:src="@{/vendors/moment/min/moment.min.js}"></script>
		<script th:src="@{/vendors/bootstrap-daterangepicker/daterangepicker.js}"></script>
	</th:block>
	
	<!-- 사용자 정의 Script-->
	<th:block layout:fragment="customScript">
		<script>
			//수정 버튼 클릭시  수정 가능하게 속성 해제
			$(function(){
				$('#modifyButton').click(function(){
					$('input').attr("readonly",false);
					$('select').attr("disabled",false);
					$('textarea').attr("readonly",false);
					$('#memberId').attr("readonly",true);
					$('#gradeType').attr("readonly",true);
					$('#adFinalPrice').attr("readonly",true);
					$('#sellerAdDiscount').attr("readonly",true);
					$('#saveButton').removeAttr( "hidden" );
					$(this).attr("hidden",true);
				});
			
			
				// 광고 가격 계산 (광고기간 * 카테고리별 가격)
				$('#adSelect, #adStartDate, #adEndDate').on('change', function(e) {
					var adSelect = $('#adSelect').val();
					var adStartDate = $('#adStartDate').val();
					var adEndDate = $('#adEndDate').val();
					var sellerAdDiscount = $('#sellerAdDiscount').val();		//판매자 등급별 할인율
					var adFinalPrice = $('#adFinalPrice');						//할인 후 최종 금액
					var adContractTerm = $('#adContractTerm');					//광고계약기간
					var adCategory = $('#adCategory');							//광고 카테고리
					var adOriginPrice = $('#adOriginPrice');					//광고 원가격
					var adDiscount = $('#adDiscount');							//광고 할인가격
						console.log(adSelect);
						console.log(adStartDate);
						console.log(adEndDate);
						console.log(sellerAdDiscount);
	                  
					if(adSelect != null && adStartDate != null && adEndDate != null){
						
						$.ajax({
							url : '/advertisement/getAdPriceInfoByCode',
							type : 'post',
							data : {
									'adPriceCode' : adSelect
									},
									dataType : 'json',
									success : function(data) {
									console.log(data);
									console.log(data.adPricePerDay);
								var adCate = data.adCate;
								var dateTerm = Date.parse(adEndDate) - Date.parse(adStartDate);
									dateTerm = dateTerm / (1000 * 3600 * 24) + 1;
								var price = (dateTerm*data.adPricePerDay),
									discountedPrice = price - (price*sellerAdDiscount);
									
									
									adFinalPrice.val(discountedPrice);	// 등급별 할인된 가격 띄워주기
									
									adContractTerm.val(dateTerm);	// 계산한 광고 기간 값 넣어주기
									adCategory.val(adCate);			// 카테고리 이름 찾아서 넣어주기
									
								/* 	adOriginPrice.val(price);
									adDiscount.val(price*sellerAdDiscount); */
								}
						}); 
					}
				});
			
			
			});
			
		</script>
	</th:block>


	<th:block layout:fragment="customContents">
	
		<div class="col-md-8 col-sm-8 offset-md-2">
			<div class="x_panel">
				<div class="x_title">
					<h2>광고 신청 상세 페이지<small>Ad Apply Detail</small></h2>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<form class="form-horizontal form-label-left pt-3" th:action="@{/advertisement/modifyAdApply}" method="post">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th scope="col" style="width: 15%;">#</th>
									<th scope="col">First</th>
								</tr>
							</thead>
							<tbody>
								<tr style="display: none;">
									<th scope="row">번호</th>
									<td>
										<div class="form-group row">
											<div class="col-md-2 col-sm-2">
												<label class="control-label" for="adApplyTitle">광고 신청 번호</label>
											</div>
											<div class="col-md-8 col-sm-8">
												<input type="text" class="form-control" readonly="readonly"
												 name="adApplyCode" id="adApplyCode" th:value="${adApply.adApplyCode}">
											</div>
										</div>
									</td>
								</tr>						
								<tr>
									<th scope="row">제목</th>
									<td>
										<div class="form-group row">
											<div class="col-md-2 col-sm-2">
												<label class="control-label" for="adApplyTitle">게시글 제목</label>
											</div>
											<div class="col-md-8 col-sm-8">
												<input type="text" class="form-control" readonly="readonly"
												 name="adApplyTitle" id="adApplyTitle" th:value="${adApply.adApplyTitle}">
											</div>
										</div>
									</td>
								</tr>
								
								<tr>
									<th scope="row">광고 게시 기간</th>
									<td>
										<div class="form-group row">
											<div class="col-md-2 col-sm-2">
												<label class="control-label">기간</label>
											</div>
											<div class="col-md-8 col-sm-8">
												<!-- start : 기간 검색 바 -->
							
												<div class="form-row">
													<div class="col-md-5 col-sm-5">
														<input class="date-picker form-control" placeholder="dd-mm-yyyy"
															type="date" required="required" onfocus="this.type='date'"
															onmouseover="this.type='date'" onclick="this.type='date'"
															onblur="this.type='text'" onmouseout="timeFunctionLong(this)" id="adStartDate"
															name="adStartDate" th:value="${adApply.adStartDate}" readonly="readonly">
														<script>
															function timeFunctionLong(input) {
																setTimeout(function() {
																	input.type = 'text';
																}, 60000);
															}
														</script>
													</div>
													<div class="align-self-center">
														<i class="fa fa-minus"></i>
													</div>
													
													<div class="col-md-5 col-sm-5">
														<input class="date-picker form-control" placeholder="dd-mm-yyyy"
															type="date" required="required" onfocus="this.type='date'"
															onmouseover="this.type='date'" onclick="this.type='date'"
															onblur="this.type='text'" onmouseout="timeFunctionLong(this)" id="adEndDate"
															name="adEndDate" th:value="${adApply.adEndDate}" readonly="readonly">
														<script>
															function timeFunctionLong(input) {
																setTimeout(function() {
																	input.type = 'text';
																}, 60000);
															}
														</script>
													</div>
												</div>
												<!-- END : 기간 검색 바 -->
											</div>
										</div>
	
									</td>
								</tr>
								<tr>
									<th scope="row">광고 신청 정보</th>
									<td>
									
										<div class="form-group row">
											<div class="col-md-2 col-sm-2">
												<label class="control-label" for="memberId">신청자 아이디</label>
											</div>
											<div class="col-md-8 col-sm-8">
												<input type="text" class="form-control" id="memberId" name="memberId" th:value="${adApply.memberId}" readonly="readonly">
												
												<input type="hidden" name="sellerGradeNum" th:value="${adApply.sellerGradeNum}">
										 		<input type="hidden" id="adContractTerm" name="adContractTerm" th:value="${adApply.adContractTerm}">
										 		<input type="hidden" id="adCategory" name="adCate" th:value="${adApply.adCate}">
										 		<input type="hidden" id="adOriginPrice" name="adOriginPrice">
										 		<input type="hidden" id="adDiscount" name="adDiscount">
											</div>
										</div>
										
										<div class="form-group row" >
											<div class="col-md-2 col-sm-2">
												<label class="control-label" for="gradeType">판매자 등급</label>
											</div>
											<div class="col-md-3 col-sm-3">
												<input type="text" class="form-control" id="gradeType" name="gradeType" th:value="${grade.sellerGrade.gradeType}" readonly="readonly">
											</div>
											<div class="col-md-2 col-sm-2  text-right">
												<label class="control-label" for="sellerAdDiscount">할인율</label>
											</div>
											<div class="col-md-3 col-sm-3">
												<input type="text" class="form-control" name="sellerAdDiscount" id="sellerAdDiscount"
														th:value="${grade.sellerGrade.sellerAdDiscount}"  readonly="readonly">
											</div>
										</div>

										<div class="form-group row">
											<div class="col-md-2 col-sm-2">
												<label class="control-label" for="adCate">광고 종류</label>
											</div>
											<div class="col-md-8 col-sm-8">
												<select class="form-control text-center" id="adSelect" name="adPriceCode" disabled="disabled">
													<option value="">  : : 광 고 종 류 선 택  : :  </option>
													<option th:if="${not #lists.isEmpty(adPriceList)}" th:each="l : ${adPriceList}" 
															th:text="${l.adCate}" th:value="${l.adPriceCode}" th:selected="${adApply.adCate==l.adCate}"></option>
												<!-- 	<option th:selected="${adApply.adCate=='게시판 광고'}">게시판 광고</option>
													<option th:selected="${adApply.adCate=='배너 광고'}">배너 광고</option> -->
												</select>
											</div>
										</div>
										
										<div class="form-group row">
											<div class="col-md-2 col-sm-2">
												<label class="control-label" for="adContractPrice">광고 가격</label>
											</div>
											<div class="col-md-8 col-sm-8">
												<input type="number" class="form-control" readonly="readonly"
														id="adFinalPrice" name="adContractPrice" th:value="${adApply.adContractPrice}">
											</div>
										</div>
										
										<div class="form-group row">
											<div class="col-md-2 col-sm-2">
												<label class="control-label" for="adGoodsUrl">광고 상품 주소</label>
											</div>
											<div class="col-md-8 col-sm-8">
												<input type="text" class="form-control" readonly="readonly"
														id="adGoodsUrl" name="adGoodsUrl" th:value="${adApply.adGoodsUrl}">
											</div>
										</div>
	
										<div class="form-group row">
											<div class="col-md-2 col-sm-2">
												<label class="control-label" for="adContent">광고 내용</label>
											</div>
											<div class="col-md-8 col-sm-8">
												<textarea class="form-control" rows="3" readonly="readonly" id="adContent"
														name="adContent" th:value="${adApply.adContent}">[[${adApply.adContent}]]</textarea>
											</div>
										</div>
	
									</td>
								</tr>
								<tr>
									<th scope="row">광고 사진</th>
									<td>
										<div class="form-group row">
											<div class="col-md-2 col-sm-2">
												<label class="control-label" for="adImg">광고 사진</label>
											</div>
											<div class="col-lg-8 col-md-8" th:if="${not #lists.isEmpty(adApply.fileList)}" th:each="l : ${adApply.fileList}">
												<img th:src="@{${ '/' + #strings.replace(l.filePath, '\', '/')}}" class="img-fluid"/> 
											</div>
											
											<div class="col-lg-8 col-md-8" th:unless="${not #lists.isEmpty(adApply.fileList)}">
												<img th:src="@{/asset/img/noImage.jpg}" class="img-fluid"/> 
											</div>
											
											<!-- <div class="col-md-3 col-sm-3">
												<img th:src="@{/img/exOrange.jpg}" class="img-fluid"
													alt="Responsive image" name="adImg" th:value="${adApply.adImg}">
											</div>
											<div class="col-md-5 col-sm-5">
												<input type="file">
											</div> -->
										</div>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="ln_solid"></div>
						<div class="form-group">
							<div class="col text-center">
								<button type="button" class="btn btn-primary" onclick="history.back(-1)">취소</button>
								<button th:if="${adApply.adPermitState}=='신청중'" type="button" class="btn btn-danger">삭제</button>
								<button th:if="${adApply.adPermitState}=='신청중'" type="button" class="btn btn-info" id="modifyButton">수정</button>
								<button type="submit" class="btn btn-info" id="saveButton" hidden="hidden">저장</button>
								<a th:href="@{/advertisement/adApproveUpdate(adApplyCode=${adApply.adApplyCode})}" 
									th:if="${adApply.adPermitState}=='신청중' and ${sessionLevel}=='관리자'" role="button" 
									class="btn btn-success" aria-pressed="true">승인</a>
								<a th:href="@{/advertisement/adApproveCancle(adApplyCode=${adApply.adApplyCode})}" 
									th:if="${adApply.adPermitState}=='신청중' and ${sessionLevel}=='관리자'" role="button"
									 class="btn btn-warning" aria-pressed="true">거절</a>	
								<a th:href="@{/advertisement/adApproveCancle(adApplyCode=${adApply.adApplyCode})}" 
									th:if="${adApply.adPermitState}=='결제전' and ${sessionLevel}=='관리자'" role="button" 
									class="btn btn-warning" aria-pressed="true">승인취소</a>
							</div>
						</div>
	
					</form>
				</div>
			</div>
		</div>
	
	</th:block>
</html>