<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
	<!-- 사용자 정의 title -->
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>

	<!-- 사용자 정의 Css -->
	<th:block layout:fragment="customCss">
		<!-- iCheck -->
		<link th:href="@{/vendors/iCheck/skins/flat/green.css}" rel="stylesheet">
		<!-- datepicker -->
		<link th:href="@{/build/css/datepicker.css}" rel="stylesheet">
	</th:block>
	<!-- 사용자 정의 JsScript 파일-->
	<th:block layout:fragment="customJsScript">
		<!-- iCheck -->
    	<script th:src="@{/vendors/iCheck/icheck.min.js}"></script>
    	<!-- 제이쿼리 ui js -->
	   	<script th:src="@{https://code.jquery.com/ui/1.12.1/jquery-ui.js}"></script>
	   	<!-- searchDate -->
		<script th:src="@{/vendors/jquery/dist/searchDate.js}"></script>
		<!-- moment.js -->
		<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js}"></script>
	</th:block>
	<!-- 사용자 정의 Script-->
	<th:block layout:fragment="customScript">
	</th:block>	
	
	
	<th:block layout:fragment="customContents">
			<div class="col-md-12 col-sm-12">
				<div class="x_panel">
					<div class="x_title">
						<h2>
							광고 목록<small>Advertising List</small>
						</h2>
						<div class="clearfix"></div>
					</div>
		
					<div class="x_content">

						<p>
							(관리자 화면) 현재 진행중인 광고 목록
						</p>
				
				<!-- START : 검색 바 -->
					<div th:include="advertisement/searchAd :: searchAdvertisingListFragment"></div><br>
				<!-- END : 검색 바 -->

				<div class="table-responsive">
				
					<div class="clearfix">
						<div class="float-left">
							Total : <span></span>
						</div>
						<div class="float-right pr-2">
							<button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal">선택 삭제</button>
						</div>
					</div>
					
					
					<table class="table text-center jambo_table bulk_action">
						<thead>
							<tr class="headings">
								<th>
									<input type="checkbox" id="check-all" class="flat">
								</th>
								<th class="column-title">광고 번호</th>
								<th class="column-title">광고 종류</th>
								<th class="column-title">아이디</th>
								<th class="column-title">진행 상태</th>
								<th class="column-title">시작 날짜</th>
								<th class="column-title">종료 날짜</th>
                            	<th class="column-title">신청 정보</th>
								<th class="column-title">결제 정보</th>
								<th class="bulk-actions" colspan="8"><a class="antoo"
									style="color: #fff; font-weight: 500;">Bulk Actions ( <span
										class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
								</th>
							</tr>
						</thead>

						<tbody>
						<th:block th:if="${not #lists.isEmpty(advertisingList)}" th:each="l : ${advertisingList}">
							<tr class="even pointer">
								<td class="a-center ">
									<input type="checkbox" class="flat" name="table_records">
								</td>
								<td class=" " th:text="${l.adApplyCode}"></td>
								<td class=" " th:text="${l.adCate}"></td>
								<td class=" " th:text="${l.memberId}"></td>
								<td class=" " th:text="${l.adPermitState}"></td>
								<td class=" " th:text="${l.adStartDate}"></td>
								<td class=" " th:text="${l.adEndDate}"></td>
								<td class=" ">						
									<a th:href="@{/advertisement/adApplyDetail(adApplyCode=${l.adApplyCode})}">
										<input type="button" value="신청 정보">
									</a>
								</td>

								<td class=" "><input type="button" value="결제 정보"></td>
							</tr>
						</th:block>
						</tbody>
					</table>

					<nav aria-label="Page navigation example">
						<ul class="pagination justify-content-center">
							<li class="page-item disabled"><a class="page-link">Previous</a>
							</li>
							<li class="page-item"><a class="page-link" href="#">1</a></li>
							<li class="page-item"><a class="page-link" href="#">2</a></li>
							<li class="page-item"><a class="page-link" href="#">3</a></li>
							<li class="page-item"><a class="page-link" href="#">Next</a>
							</li>
						</ul>
					</nav>
				</div>


			</div>
		</div>
	</div>

	</th:block>
</html>