<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<!-- start:Left Menu -->
	<div th:fragment="headermenuFragment">
	
	<!-- Hero Section Begin -->
    <section class="hero hero-normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>상품 카테고리</span>
                        </div>
                        <ul>
                            <li><a th:href="@{/userGoods/userGoodsList(searchCate='goods_large_cate_1')}">고구마 / 감자 / 당근</a></li>
                            <li><a th:href="@{/userGoods/userGoodsList(searchCate='goods_large_cate_2')}">양파 / 파 / 마늘 / 생강</a></li>
                            <li><a th:href="@{/userGoods/userGoodsList(searchCate='goods_large_cate_3')}">배추 / 무 / 김장채소</a></li>
                            <li><a th:href="@{/userGoods/userGoodsList(searchCate='goods_large_cate_4')}">오이 / 호박 / 고추</a></li>
                            <li><a th:href="@{/userGoods/userGoodsList(searchCate='goods_large_cate_5')}">상추 / 깻잎 / 쌈채소 / 나물</a></li>
                            <li><a th:href="@{/userGoods/userGoodsList(searchCate='goods_large_cate_9')}">기타 채소	</a></li>
                            <li><a th:href="@{/userGoods/userGoodsList(searchCate='goods_large_cate_10')}">사과 / 배 / 토마토</a></li>
                            <li><a th:href="@{/userGoods/userGoodsList(searchCate='goods_large_cate_11')}">수박 / 참외 / 메론 / 파인애플</a></li>
                            <li><a th:href="@{/userGoods/userGoodsList(searchCate='goods_large_cate_12')}">귤 / 오렌지 / 레몬 / 자몽</a></li>
                            <li><a th:href="@{/userGoods/userGoodsList(searchCate='goods_large_cate_13')}">딸기 / 키위 / 바나나</a></li>
                            <li><a th:href="@{/userGoods/userGoodsList(searchCate='goods_large_cate_16')}">망고 / 열대과일</a></li>
                            <li><a th:href="@{/userGoods/userGoodsList(searchCate='goods_large_cate_18')}">기타 과일</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form th:action="@{/userGoods/userGoodsList}" method="get">
                                <input type="text" name="searchValue" placeholder="상품명을 검색하세요">
                                <button type="submit" class="site-btn">검색</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
							<div class="hero__search__phone__icon">
								<i class="fa fa-phone"></i>
							</div>
							<div class="hero__search__phone__text">
								<h5>063-717-1008</h5>
								<span>09:00 ~ 18:00</span>
							</div>
						</div>
                    </div>
                        <th:block layout:fragment="mainBanner"></th:block>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->
	
	</div>
</html>