<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{userLayout/default}">
	<!-- 사용자 정의 title -->
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>
	
	<th:block layout:fragment="customCss">
		
	</th:block>
	
	<th:block layout:fragment="customJsScript">
	</th:block>
	
	<!-- 사용자 정의 Script-->
	<th:block layout:fragment="customScript">
		<script>
		function searchPostNum() {
	        new daum.Postcode({
	            oncomplete: function(data) {
	            	
	            	var addr = '';
	            	var extraAddr = ''; // 참고항목 변수

	                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
	                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
	                    addr = data.roadAddress;
	                } else { // 사용자가 지번 주소를 선택했을 경우(J)
	                    addr = data.jibunAddress;
	                }
	                
	                document.getElementById('memberPostNum').value = data.zonecode;
	                document.getElementById('memberAddr').value = addr;
	                // 커서를 상세주소 필드로 이동한다.
	                document.getElementById('memberDetailAddr').focus();
	                
	            }
	        }).open();
	    }
		</script>
	</th:block>	

	<th:block layout:fragment="customContents">
		<section class="checkout spad">
			<div class="container">
				<div class="offset-lg-2 col-lg-10">
					<div class="row">
						<div class="col-lg-6">
							<h4>이재훈<span>님의 페이지</span></h4>
						</div>
						<div class="col-lg-6 text-right">
							<button type="button" class="btn btn-success">정보수정</button>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<table class="table table-bordered mt-5">
							<thead>
							<tr>
								<th scope="col" style="width: 10%;">#</th>
								<th scope="col">내정보관리</th>
							</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">회원 정보</th>
									<td>
										<div class="form-group row">
											<div class="col-md-2 col-sm-2">
												<label class="control-label" for="memberId">아이디</label>
											</div>
											<div class="col-md-6 col-sm-6">
												아이디
											</div>
										</div>
										<div class="form-group row">
											<div class="col-md-2 col-sm-2">
												<label class="control-label" for="memberLevel">권한</label>
											</div>
											<div class="col-md-6 col-sm-6">
												권한
											</div>
										</div>
										<div class="form-group row">
											<div class="col-md-2 col-sm-2">
												<label class="control-label" for="memberName">회원이름</label>
											</div>
											<div class="col-md-6 col-sm-6">
												회원이름
											</div>
										</div>
										<div class="form-group row">
											<div class="col-md-2 col-sm-2">
												<label class="control-label" for="memberNickname">닉네임</label>
											</div>
											<div class="col-md-6 col-sm-6">
												닉네임
											</div>
										</div>
									
										<div class="form-group row">
											<div class="col-md-2 col-sm-2">
												<label class="control-label" for="memberPostNum">회원 주소</label>
											</div>
											<div class="col-md-6 col-sm-6">
												<input type="text" class="form-control" name="memberPostNum" id="memberPostNum" readonly="readonly">
											</div>
											<div class="col-md-4 col-sm-4">
												<button type="button" class="btn btn-info" id="postNum" onclick="searchPostNum()">우편번호찾기</button>
											</div>
										</div>
										<div class="form-group row">
											<div class="col-md-8 offset-md-2">
												<input type="text" class="form-control" id="memberAddr" name="memberAddr" readonly="readonly">
											</div>
										</div>
										<div class="form-group row">
											<div class="col-md-8 offset-md-2">
												<input type="text" class="form-control" name="memberDetailAddr" id="memberDetailAddr" readonly="readonly">
											</div>
										</div>
										<div class="form-group row">
											<div class="col-md-2 col-sm-2">
												<label class="control-label">이메일</label>
											</div>
											<div class="col-md-8 col-sm-8">
												이메일
											</div>
										</div>
										<div class="form-group row">
											<div class="col-md-2 col-sm-2">
												<label class="control-label">전화번호</label>
											</div>
											<div class="col-md-8 col-sm-8">
												전화번호
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
						</div>
					</div>
				</div>	
			</div>
		</section>
	</th:block>
</html>