<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="com.kfarmstar.admin.mapper.DeliveryMapper">
	<!-- 배송 회사 등록 -->
	<!-- 회사 직원 등록 -->
	<!-- 배송 등록 -->
	<!-- 집하 등록 -->
</mapper>