<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="com.kfarmstar.admin.mapper.DeliveryMapper">
	<!-- 
		MyBatis resultMap
		DB Table : 
			FK	 : 
				   
				   
				   
				   
	 -->
	<resultMap type="Goods" id="deliveryGoodsResultMap">
		<result column="goods_refurb_code" 			property="goodsRefurbCode"/>
		<result column="seller_store_num" 			property="sellerStoreNum"/>
		<result column="goods_large_code" 			property="goodsLargeCode"/>
		<result column="goods_small_code" 			property="goodsSmallCode"/>
		<result column="member_id" 					property="memberId"/>
		<result column="goods_large_cate" 			property="goodsLargeCate"/>
		<result column="goods_small_cate" 			property="goodsSmallCate"/>
		<result column="goods_refurb_sell_state" 	property="goodsRefurbSellState"/>
		<result column="goods_refurb_name" 			property="goodsRefurbName"/>
		<result column="goods_normal_price" 		property="goodsNormalPrice"/>
		<result column="goods_refurb_price" 		property="goodsRefurbPrice"/>
		<result column="goods_refurb_count" 		property="goodsRefurbCount"/>
		<result column="goods_refurb_harvest_date" 	property="goodsRefurbHarvestDate"/>
		<result column="goods_refurb_organic" 		property="goodsRefurbOrganic"/>
		<result column="goods_post_summary" 		property="goodsPostSummary"/>
		<result column="goods_post_explain" 		property="goodsPostExplain"/>
		<result column="goods_delivery_charge" 		property="goodsDeliveryCharge"/>
		<result column="goods_weight" 				property="goodsWeight"/>
		<result column="entry_time" 				property="entryTime"/>
		<association property="goodsLarge" 		javaType="GoodsLarge">
			<id 	column="goods_large_cate" 	property="goodsLargeCate"/>
			<result column="member_id" 			property="memberId"/>
			<result column="update_manager_id" 	property="updateManagerId"/>
			<result column="goods_large_name" 	property="goodsLargeName"/>
			<result column="entry_time" 		property="entryTime"/>
			<result column="last_update_time"	property="lastUpdateTime"/>
		</association>
		<association property="goodsSmall" 		javaType="GoodsSmall">
			<id 	column="goods_small_cate" 	property="goodsSmallCate"/>
			<result column="goods_small_name" 	property="goodsSmallName"/>
			<result column="member_id" 			property="memberId"/>
			<result column="update_manager_id" 	property="updateManagerId"/>
			<result column="entry_time" 		property="entryTime"/>
			<result column="last_update_time"	property="lastUpdateTime"/>
		</association>
		<collection property="fileList" javaType="java.util.List" ofType="FileDto">
			<id 	column="file_idx" 			property="fileIdx"/>
			<result column="file_original_name" property="fileOriginalName"/>
			<result column="file_new_name" 		property="fileNewName"/>
			<result column="file_path" 			property="filePath"/>
			<result column="file_size" 			property="fileSize"/>
		</collection>
	</resultMap>
	
	<!-- 
		MyBatis resultMap
		DB Table : 
			FK	 : 
				   
				   
				   
				   
	 -->
	 <!-- 
	<resultMap type="BeforePayment" id="addDeliveryPayResultMap">
	 	<result column="purchaser_payment_code" 			property="purchaserPaymentCode"/>
	 	<result column="goods_refurb_code" 					property="goodsRefurbCode"/>
	 	<result column="member_id" 							property="memberId"/>
	 	<result column="before_mid_sum_code" 				property="beforeMidSumCode"/>
	 	<result column="before_goods_count"					property="beforeGoodsCount"/>
	 	<result column="mid_sum_price" 						property="midSumPrice"/>
	 	<result column="delivery_postnum_addr" 				property="deliveryPostnumAddr"/>
	 	<result column="delivery_addr" 						property="deliveryAddr"/>
	 	<result column="delivery_detail_addr" 				property="deliveryDetailAddr"/>
	 	<result column="recipient_name" 					property="recipientName"/>
	 	<result column="recipient_phone" 					property="recipientPhone"/>
	 	<association property="member" 					javaType="Member">
			<result column="member_id" 						property="memberId"/>
			<result column="member_name" 					property="memberName"/>
			<result column="member_level" 					property="memberLevel"/>
			<result column="member_pw" 						property="memberPw"/>
			<result column="member_phone" 					property="memberPhone"/>
			<result column="member_addr" 					property="memberAddr"/>
			<result column="member_detail_addr" 			property="memberDetailAddr"/>
			<result column="member_email" 					property="memberEmail"/>
			<result column="member_date" 					property="memberDate"/>
		</association>
		<association property="goods"					javaType="Goods">
			<result column="goods_refurb_code" 				property="goodsRefurbCode"/>
			<result column="goods_refurb_sell_state" 		property="goodsRefurbSellState"/>
			<result column="goods_refurb_name" 				property="goodsRefurbName"/>
			<result column="goods_normal_price" 			property="goodsNormalPrice"/>
			<result column="goods_refurb_price" 			property="goodsRefurbPrice"/>
			<result column="goods_refurb_count" 			property="goodsRefurbCount"/>
			<result column="goods_refurb_harvest_date" 		property="goodsRefurbHarvestDate"/>
			<result column="goods_refurb_organic" 			property="goodsRefurbOrganic"/>
			<result column="goods_post_summary" 			property="goodsPostSummary"/>
			<result column="goods_post_explain" 			property="goodsPostExplain"/>
			<result column="goods_delivery_charge" 			property="goodsDeliveryCharge"/>
			<result column="goods_weight" 					property="goodsWeight"/>
			<result column="entry_time" 					property="entryTime"/>
		</association>
	</resultMap>
	 -->
	
	<!-- 배송 회사 등록 폼 -->
	<select id="addDeliveryCompany" resultType="DeliveryCompany" resultMap="companyListResultMap">
		SELECT
			 DC.company_code
			,DC.company_name
		FROM
			delivery_company AS DC
			;
	</select>
	<select id="getCompanyByCompanyCode" parameterType="String" resultMap="companyListResultMap">
		SELECT
			 DC.company_code
			,DC.company_name
			,DC.company_phone
			,DC.company_addr
			,DC.company_addr_detail
		FROM
			delivery_company AS DC
		WHERE
			DC.company_code = #{companyCode}
			;
	</select>
	<select id="addDeliveryGoods" resultType="Goods" resultMap="deliveryGoodsResultMap">
		SELECT
			 GM.goods_refurb_code
			,GM.goods_refurb_name
		FROM
			goods_management AS GM
			;
	</select>
	<!-- 
	<select id="getRecipientByRefurbCode" resultType="BeforePayment" resultMap="addDeliveryPayResultMap">
		SELECT
			 GM.goods_refurb_code
			,GM.goods_refurb_name
			,BPI.before_goods_count
			,BPI.recipient_name
			,BPI.recipient_phone
			,BPI.delivery_addr
			,BPI.delivery_detail_addr
		FROM
			before_purchaser_info AS BPI
			INNER JOIN 
			goods_management AS GM
			ON 
			BPI.goods_refurb_code = GM.goods_refurb_code
		WHERE 
			GM.goods_refurb_code = #{goodsRefurbCode}
			;
	</select>
	 -->
	
	<!-- 배송 회사 등록 -->
	<!-- 
	<insert id="">
		
	</insert>
	 -->
	 
	<!-- 회사 직원 등록 -->
	<!-- 배송 등록 -->
	<!-- 집하 등록 -->
</mapper>