<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="com.kfarmstar.admin.mapper.DeliveryMapper">
	<!-- 
		MyBatis resultMap
		DB Table : delivery_company
			FK	 : member
	-->
	<resultMap type="DeliveryCompany" id="deliveryCompanyResultMap">
		<result column="company_code" 						property="companyCode"/>
		<result column="fk_company_member_id" 				property="ceoId"/>
		<result column="company_num" 						property="companyNum"/>
		<result column="company_sectors" 					property="companySectors"/>
		<result column="company_scale" 						property="companyScale"/>
		<result column="company_name" 						property="companyName"/>
		<result column="company_phone" 						property="companyPhone"/>
		<result column="company_addr" 						property="companyAddr"/>
		<result column="company_addr_detail" 				property="companyAddrDetail"/>
		<result column="company_email" 						property="companyEmail"/>
		<result column="company_fax" 						property="companyFax"/>
		<result column="company_employee_num" 				property="companyEmployeeNum"/>
		<result column="company_registration_date"			property="companyRegistrationDate"/>
		<association property="member" 					javaType="Member">
			<result column="member_id" 						property="memberId"/>
			<result column="member_name" 					property="memberName"/>
			<result column="member_level" 					property="memberLevel"/>
			<result column="member_pw" 						property="memberPw"/>
			<result column="member_phone" 					property="memberPhone"/>
			<result column="member_addr" 					property="memberAddr"/>
			<result column="member_detail_addr" 			property="memberDetailAddr"/>
			<result column="member_email" 					property="memberEmail"/>
			<result column="member_date" 					property="memberDate"/>
		</association>
	</resultMap>
	 
	<!-- 
		MyBatis resultMap
		DB Table : delivery_goods
			FK	 : delivery_company
				   company_employee
				   goods_management
				   after_payment_info
				   before_purchaser_info
	 -->
	 <!-- 
	<resultMap type="DeliveryGoods" id="goodsGetResultMap">
		<result column="delivery_num" 						property="deliveryNum"/>
	 	<result column="fk_goods_company_code" 				property="goods_company_code"/>
	 	<result column="fk_goods_employee_num" 				property="goods_employee_num"/>
	 	<result column="fk_goods_refurb_code" 				property="goods_refurb_code"/>
	 	<result column="fk_goods_purchaser_payment_code"	property="goods_purchaser_payment_code"/>
	 	<result column="fk_goods_payment_complete_code" 	property="goods_payment_complete_code"/>
	 	<result column="delivery_status" 					property="deliveryStatus"/>
	 	<result column="delivery_registration_date" 		property="delivery_registration_date"/>
	 	<result column="delivery_expected_date" 			property="delivery_expected_date"/>
	</resultMap>
	 -->
	 
	<!-- 배송 회사 내역 조회 -->
	<select id="getCompany" resultType="DeliveryCompany" resultMap="deliveryCompanyResultMap">
		SELECT 
			 c.company_code
			,c.company_sectors
			,c.company_scale
			,c.company_name
			,c.company_phone
			,c.company_addr
			,c.company_addr_detail
			,m.member_name
			,m.member_phone
			,c.company_email
			,c.company_fax
			,c.company_employee_num
		FROM 
			delivery_company AS c
			INNER JOIN 
			member AS m
			ON 
			c.fk_company_member_id = m.member_id
		WHERE 
			c.company_code = #{companyCode}
			;
	</select>
	 
	<!-- 배송 운송장 내역 조회 -->
	<!-- 
	<select id="getDelivery" resultType="DeliveryGoods" resultMap="goodsGetResultMap">
		SELECT 
			 g.delivery_num
			,goods_refurb_name
			,before_goods_count
			,recipient_name
			,recipient_phone
			,delivery_addr
			,delivery_detail_addr
			,
			,
			,
			,g.delivery_registration_date
			,g.delivery_expected_date
		FROM
			delivery_goods AS g
			ON 
			
			after_payment_info AS a
			ON 
			
			before_purchaser_info AS b
			ON 
			
		WHERE 
			g.delivery_num = '3333-3333-3333'
			;
	</select>
	 -->
</mapper>